* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header starts here */

header {
    background-color: blue;
    height: 308px;
    position: relative;
}

header h1 {
    color: white;
    padding-top: 70px;
    padding-left: 240px;
}

.white-dot {
    position: absolute;
    display: inline-block;
    left: 1620px;
    bottom: 215px;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.first-gray-dot {
    position: absolute;
    display: inline-block;
    left: 1650px;
    bottom: 215px;
    height: 10px;
    width: 10px;
    background-color: #fff;
    opacity: 30%;
    border-radius: 50%;
}

.second-gray-dot {
    position: absolute;
    display: inline-block;
    left: 1680px;
    bottom: 215px;
    height: 10px;
    width: 10px;
    background-color: #fff;
    opacity: 30%;
    border-radius: 50%;
}

  /* Header ends here */

  /* Section starts here */

section {
    position: relative;
}

.image1 {
    width: 463px;
    height: 420px;
    position: absolute;
    left: 240px;
    top: -120px;
}

.image1-description {
    border-radius: 12px;
    background-color: white;
    color: black;
    padding: 30px 65px;
    position: absolute;
    left: 248px;
    top: 166px; 
    font-size: 18px;
}

.image2 {
    width: 550px;
    height: 510px;
    position: absolute;
    left: 690px;
    top: -195px;
}

.image2-description {
    border-radius: 12px;
    backdrop-filter: blur(10px);
    color: black;
    padding: 30px 63px;
    position: absolute;
    left: 743px;
    top: 123px;
    font-family: helvetica-neue-bold;
    font-weight: bold;
    font-size: 18px;
}

.image3 {
    width: 463px;
    height: 420px;
    position: absolute;
    left: 1230px;
    top: -120px;
}

.image3-description {
    border-radius: 12px;
    background-color: white;
    color: black;
    padding: 30px 63px;
    position: absolute;
    left: 1241px;
    top: 165px; 
    font-size: 18px;
}

.other-projects {
    position: absolute;
    top: 380px;
    left: 1520px ;
    font-size: 18px;
    font-weight: bold;
    border-left: 1px solid black;
    padding-left: 21px;
}

/* Section ends here */